openapi: 3.0.0

info:
 version: '2.0'
 title: 'SkillSwap Web API'
 description: 'Web Resources Specification for SkillSwap'

servers:
- url: https://lbaw23111.fe.up.pt
  description: Production server

externalDocs:
 description: Find more info here.
 url: https://git.fe.up.pt/lbaw/lbaw2324/lbaw23111/-/wikis/eap

tags:
 - name: 'M01: Users'
 - name: 'M02: Posts'
 - name: 'M05: Search'
 - name: 'M06: Administration'
 - name: 'M07: Authentication'

paths:
  /user/{username}:
    get:
      operationId: 'R101'
      summary: 'R101: User Profile'
      description: 'Get user profile information'
      tags:
        - 'M01: Users'
      parameters:
        - name: 'username'
          in: 'path'
          required: true
          schema:
            type: 'string'
      responses:
        '200': 
          description: 'All right. Show Profile'
        '302':
          description: 'If user is not logged in and profile is private or if user is logged in and profile is private and they aren t friends, redirect to home page'
        '404':
          description: 'Resource not found'
    
  /user/{username}/edit:
    get:
      operationId: 'R102'
      summary: 'R102: User Edit Profile Page'
      description: 'Get user edit profile page'
      tags:
        - 'M01: Users'
      parameters:
        - name: 'username'
          in: 'path'
          required: true
          schema:
            type: 'string'
      responses:
        '200': 
          description: 'All right. Show Edit Profile Page'
        302:
          description: 'If user is not logged in and profile is private or if user is logged in and profile is private and they aren t friends, redirect to profile page'
        '404':
          description: 'Resource not found'

  /user/edit:
     put:
      operationId: 'R103'
      summary: 'R103: User Edit Profile Action'
      description: 'Edit user profile information'
      tags:
        - 'M01: Users'
      parameters:
        - name: 'username'
          in: 'path'
          required: true
          schema:
            type: 'string'
        - name: 'name'
          in: 'path'
          required: true
          schema:
            type: 'string'
        - name: 'email'
          in: 'path'
          required: true
          schema:
            type: 'string'
        - name: 'phone_number'
          in: 'path'
          required: true
          schema:
            type: 'string'
        - name: 'birth_date'
          in: 'path'
          required: true
          schema:
            type: 'string'
        - name: 'profile_picture'
          in: 'path'
          required: true
          schema:
            type: 'string'
        - name: 'description'
          in: 'path'
          required: true
          schema:
            type: 'string'

      responses:
        '200': 
          description: 'All right. Edit Profile'
        '302':
          description: 'If not logged in, redirect to home page'
        '404':
          description: 'Resource not found'

  /posts/create:
     post:
      operationId: 'R201'
      summary: 'R201: Create post action'
      description: 'Create post'
      tags:
        - 'M02: Posts'
      parameters:
        - name: 'description'
          in: 'path'
          required: true
          schema:
            type: 'string'
        - name: 'files'
          in: 'path'
          required: true
          schema:
            type: 'array'
        - name: 'public_post'
          in: 'path'
          required: true
          schema:
            type: 'string'
        - name: 'date'
          in: 'path'
          required: true
          schema:
            type: 'string'
        - name: 'user_id'
          in: 'path'
          required: true
          schema:
            type: 'integer'
        - name: 'group_id'
          in: 'path'
          required: true
          schema:
            type: 'integer'
      responses:
        '200': 
          description: 'All right. Create Post'
        '302':
          description: 'If not logged in, redirect to home page'
        '404':
          description: 'Resource not found'

  /posts/edit:
      put:
        operationId: 'R202'
        summary: 'R202: Edit post action'
        description: 'Edit post'
        tags:
          - 'M02: Posts'
        parameters:
          - name: 'description'
            in: 'path'
            required: true
            schema:
              type: 'string'
          - name: 'files'
            in: 'path'
            required: true
            schema:
              type: 'array'
          - name: 'public_post'
            in: 'path'
            required: true
            schema:
              type: 'string'
          - name: 'date'
            in: 'path'
            required: true
            schema:
              type: 'string'
          - name: 'user_id'
            in: 'path'
            required: true
            schema:
              type: 'integer'
          - name: 'group_id'
            in: 'path'
            required: true
            schema:
              type: 'integer'
        responses:
          '200': 
            description: 'All right. Edit Post'
          '302':
            description: 'If not logged in, redirect to home page'
          '404':
            description: 'Resource not found'
  
  /posts/delete:
      delete:
        operationId: 'R203'
        summary: 'R203: Delete post action'
        description: 'Delete post'
        tags:
          - 'M02: Posts'
        parameters:
          - name: 'description'
            in: 'path'
            required: true
            schema:
              type: 'string'
          - name: 'files'
            in: 'path'
            required: true
            schema:
              type: 'array'
          - name: 'public_post'
            in: 'path'
            required: true
            schema:
              type: 'string'
          - name: 'date'
            in: 'path'
            required: true
            schema:
              type: 'string'
          - name: 'user_id'
            in: 'path'
            required: true
            schema:
              type: 'integer'
          - name: 'group_id'
            in: 'path'
            required: true
            schema:
              type: 'integer'
        responses:
          '200': 
            description: 'All right. Delete Post'
          '302':
            description: 'If not logged in, redirect to home page'
          '404':
            description: 'Resource not found'

  /posts:
      get:
        operationId: 'R204'
        summary: 'R204: List posts'
        description: 'List posts'
        tags:
          - 'M02: Posts'
        parameters:
          - name: 'description'
            in: 'path'
            required: true
            schema:
              type: 'string'
          - name: 'files'
            in: 'path'
            required: true
            schema:
              type: 'array'
          - name: 'public_post'
            in: 'path'
            required: true
            schema:
              type: 'string'
          - name: 'date'
            in: 'path'
            required: true
            schema:
              type: 'string'
          - name: 'user_id'
            in: 'path'
            required: true
            schema:
              type: 'integer'
          - name: 'group_id'
            in: 'path'
            required: true
            schema:
              type: 'integer'
        responses:
          '200': 
            description: 'All right. List Posts'
          '404':
            description: 'Resource not found'

  /posts/{id}:
    get:
      operationId: 'R205'
      summary: 'R205: View post'
      description: 'View post'
      tags:
        - 'M02: Posts'
      parameters:
        - name: 'id'
          in: 'path'
          required: true
          schema:
            type: 'integer'
      responses:
        '200': 
          description: 'All right. View Post'
        '302':
          description: 'If not logged in, redirect to home page'
        '404':
          description: 'Resource not found'
  
  /search:
      get:
        operationId: 'R501'
        summary: 'R501: User Search User'
        description: 'Search for users'
        tags:
          - 'M05: Search'
        parameters:
          - name: 'q'
            in: 'path'
            required: true
            schema:
              type: 'string'
        responses:
          '200': 
            description: 'All right. Search for users'
          '302':
            description: 'If not logged in, redirect to home page'
          '404':
            description: 'Resource not found'

  /admin/{username}:
      get:
        operationId: 'R601'
        summary: 'R601: Admin See User'
        description: 'See user'
        tags:
          - 'M06: Administration'
        parameters:
          - name: 'username'
            in: 'path'
            required: true
            schema:
              type: 'string'
        responses:
          '200': 
            description: 'All right. See user'
          '302':
            description: 'If not logged in, redirect to home page'
          '404':
            description: 'Resource not found'

  /admin/{username}/edit:
      put:
        operationId: 'R602'
        summary: 'R602: Admin Edit User Page'
        description: 'Edit user'
        tags:
          - 'M06: Administration'
        parameters:
          - name: 'username'
            in: 'path'
            required: true
            schema:
              type: 'string'
        responses:
          '200': 
            description: 'All right. Edit user'
          '302':
            description: 'If not logged in, redirect to home page'
          '404':
            description: 'Resource not found'

  /admin/edit:
      put:
        operationId: 'R603'
        summary: 'R603: Admin Edit User Action'
        description: 'Edit user'
        tags:
          - 'M06: Administration'
        parameters:
          - name: 'username'
            in: 'path'
            required: true
            schema:
              type: 'string'
          - name: 'name'
            in: 'path'
            required: true
            schema:
              type: 'string'
          - name: 'email'
            in: 'path'
            required: true
            schema:
              type: 'string'
          - name: 'phone_number'
            in: 'path'
            required: true
            schema:
              type: 'string'
          - name: 'birth_date'
            in: 'path'
            required: true
            schema:
              type: 'string'
          - name: 'profile_picture'
            in: 'path'
            required: true
            schema:
              type: 'string'
          - name: 'description'
            in: 'path'
            required: true
            schema:
              type: 'string'
        responses:
          '200': 
            description: 'All right. Edit user'
          '302':
            description: 'If not logged in, redirect to home page'
          '404':
            description: 'Resource not found'