@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  margin: 0; 
  background-color: #151b26;
}

header {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  color: white;
}

#content > .search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

#content > .search form {
  color: white;
  margin: 0;
  background-color: #242526;
  border: 1px solid	#242526;
  max-width: 60em;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1em;
  border-radius: 5px;
}

#content > .search form input {
  min-height: 3em;
  background-color: inherit;
  border: inherit;
  font-size: 1em;
  color: white;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: calc(100vh - 2rem);
}

main > aside {
  margin: 1rem;
  display:flex;
  flex-direction: column;
  padding: 1.5em 2.5em;
  color: white;
  justify-content: space-between;
  height: 100%;
  background: linear-gradient(145deg, #1b2029, #232a37);
  border-radius: 1rem;
} 

main > aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main > aside ul > li {
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 1em 0;
  gap: 1em;


  /*change this to li > a
  */
  position: relative;
}

main > aside ul > li::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #8d73eb;
  transition: 0.3s ease;
}

main > aside ul > li:hover::after{
  width: 100%;
}

main > aside ul > li:hover {
  cursor: pointer;
  background-color: #242526;
}

main > aside ul > li > a {
  padding: 1em 0.5em;
  text-decoration: none;
  color: white;
  gap: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

main > aside ul > li > a:hover {
  color: #fff;
}

main > aside#left-bar {
  grid-column: 1;
  /*background: linear-gradient(to right, #000000,#050505, #0e030e, rgba(22,6,26, 0.1));
  */
  
}

main > aside#right-bar {
  grid-column: 3;
  /*
  background: linear-gradient(to bottom left, #000000,#050505, #0e030e, rgba(22,6,26, 0.1));
  */
}

main > #content {
  margin: 1rem 0;
  display: flex;
  grid-column: 2;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-top: 1.5em;
  overflow:auto;
  /*
  background-color: #232a37;
  */
  background-color: #151b26;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 8px 8px 16px #1b2029, -8px -8px 16px #1c2332;
}
  
main > #content::-webkit-scrollbar {
  display: none;
}

main > #content #posts::-webkit-scrollbar {
  display: none;
}

aside .logo {
  padding: 2em 0;
}

aside .logo img {
  width: 100%;
  max-width: 100%;
}

#content label {
  font-weight: normal;
}

#content form {
  margin: 0 auto;
  max-width: 30em;
  width: 100%;
  color:white;
}
#content form .error {
  font-weight: bold;
  color: #ff3333;
}
#content form .success {
  font-weight: bold;
  color: #106af1;
}
#content form input {
  background-color: #111010;
  border: 1px solid #111010;
  border-radius: 5px;
  font-size: 1em;
  color: white;
}

#content form input[type="email"] {
  height: 3.5em;
}

#content form input[type="email"]:focus {
  border: 1px solid #8d73eb;
}

#content form input[type="password"] {
  height: 3.5em;
}

#content form input[type="password"]:focus {
  border: 1px solid #8d73eb;
}

#posts {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em 0;
  overflow:auto;
}

#posts h2{
  color: white;
  font-weight: 500;
}

.post {
  width: 100%;
  max-width: 60em;
  background-color: #232a37;
  border-radius: 10px;
  padding: 1.1em 1em 0;
  color: white;
  background: linear-gradient(145deg, #232a37, #1b2029);
}

.post .post-body {
  padding: 1em 0;
}

.post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-header .post-header-left {
  display: flex;
  flex-direction: row;
  gap: 1em
}

.post-header .post-header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.post-header .post-header-right span {
  background-color: #663FA4;
  padding: 0.1em;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.post-header .post-header-right span:hover {
  background-color: #2e3541;
}

.post .post-header .author-date p:first-child {
  margin: 0;
  font-weight: bold;
  font-size: 1.7rem;
  color: pink;
}

.post .post-header .author-date p:last-child {
  margin: 0;
  font-size: 1.2rem;
  color: #d1d1e1;
}

.post-header img {
  width: 3em;
  height: 3em;
  object-fit: cover;
  border-radius: 50%;
  image-rendering: pixelated;
}


.post .post-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 1em;
  font-size: 0.9em;
  border-top: 0.5px solid #494747;
}

.post .post-actions .post-action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 10em;
  padding: 0.5em;
  border-radius: 10px;
  gap: 0.5em;
  transition: 0.2s ease;
  cursor: pointer;
}


.post .post-actions .post-action:hover {
  color: #fff;
  font-weight: bold;
  background-color: #8d73eb;

}

.post .post-actions .post-action p {
  margin: 0;
}

.create-post {
  width: 100%;
  max-width: 60em;
  padding: 1em 1em;
  background-color: rgba(36, 37, 38, 0.6);
  background-color: #232a37;
  border-radius: 10px;
}

.create-post .post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-post .post-text {
  width: 100%;
}

.create-post .files-list-preview {
  display: none;
  flex-direction: row;
  gap: 1em;
  margin: 1em 0;
  overflow-x: scroll;
}

.create-post .files-list-preview::-webkit-scrollbar {
  display: none;
}

.create-post .files-list-preview .file-preview {
  position: relative;
  flex-shrink: 0;
  width: 7em;
  height: 7em;
}

.create-post .files-list-preview .file-preview span {
  position: absolute;
  background-color: #000000;
  color: white;
  padding: 1px;
  border-radius: 50%;
  margin: 1px;
  right: 0;
  cursor: pointer;
}

.create-post .files-list-preview .file-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  image-rendering: optimizeSpeed;
}


#content .create-post form {
  margin: 0;
  max-width: 50em;
}

#content .create-post textarea {
  width: 100%;
  margin: 0;
  padding: 1.5em 1em;
  border-radius: 10px;
  background-color: rgba(36, 37, 38, 0.6);
  border: 1px solid rgba(36, 37, 38, 0.6);
  color: white;
  resize: vertical;
}




#content .create-post textarea:focus {
  border: 1px solid pink;
}

#content .create-post textarea::placeholder {
  font-family: 'Montserrat', sans-serif;
}


#content .create-post .post-files span{
  font-size: 2em;
  color: white;
  cursor: pointer;
}


/* Profile Section Styles */
.profile-section {
  width: 100%;
  max-width: 60em;
  margin: 1em;
  border-radius: 10px;
  background-color: #1b2029;
  padding: 1em;
}

.profile-header {
  position: relative;
  border-radius: 10px;
  background-size: cover;

}

.header-background {
  display:flex;
  max-height: 10em;
  border-radius: 10px;
}

.header-background img {
  display: inline-block;
  border-radius: 10px;
  object-fit: cover;
}

.profile-picture img {
  width: 7em;
  height: 7em;
  object-fit: cover;
  border:2px solid white;
  border-radius: 50%;
  image-rendering: pixelated;
}

.profile-picture {
  position: absolute;
  top: 8em;
  bottom: 0;
}

.profile-info {  
  padding-left: 2em; 
  margin-top: 5em;
  display: flex;
  margin-left: 0;
  padding-left: 0.5em;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 0.1em;
  color: white;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.friends-groups-grid {  
  width: 100%;
  display: flex;
  gap: 1.5em;
  width: 100%;
  margin-bottom: 1.5em; /* Space between grid and posts */
  overflow: auto;
  /*remove lateral scroll*/
  overflow-x: hidden;
}

.friends-box, .groups-box {
  background-color: #232a37;
  padding: 1.5em;
  border-radius: 10px;
  width: 100%;
  max-width: 40em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  overflow-y: scroll;
  /*hide scroll bar*/
  -ms-overflow-style: none;  /* IE and Edge */
}

.friends-box::-webkit-scrollbar {
  display: none;
}

.groups-box::-webkit-scrollbar {
  display: none;
}


.friends-box h2, .groups-box h2 {
  color: white;
  margin: 0;
  font-weight: 500;
}

.posts-box {
  width: 100%;
}


/* Edit Profile Page Styles */

#edit-profile, #create-profile {
  width: 100%;
  display: flex;
  justify-content: center;
}

.edit-profile-section, .create-profile-section {
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
  padding: 1.25em;
  box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.1);
  background-color: #1b2029;
  border-radius: 8px;
}

.edit-profile-section h1, .create-profile-section h1 {
  text-align: center;
  color: white;
  margin-bottom: 1.25em;
}

#form-group {
  margin-bottom: 0.938em;
}

#form-group label {
  display: block;
  margin-bottom: 0.313em;
  color: pink;
}

form #form-group input[type="text"],
form #form-group input[type="email"],
form #form-group input[type="date"],
form #form-group input[type="file"],
form #form-group input[type="password"],
form #form-group textarea {
  width: 100%;
  padding: 0.625em;
  border: 1px solid #2e3541;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  font-family: 'Montserrat', sans-serif;
  background-color: #232a37;
  font-size: 0.9em;
  height: 3.5em;
}

form #form-group input[type="text"]:focus,
form #form-group input[type="email"]:focus,
form #form-group input[type="date"]:focus,
form #form-group input[type="password"]:focus,
form #form-group textarea:focus {
  border-color: #8d73eb;
}

form #form-group textarea {
  height: 6.25em;
  resize: vertical;
  line-height: 1.5;
}

#admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em 0;
  width: 100%;
  overflow:hidden;
  
}
.greeting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em 0;
  width: 100%;
  color: #8d73eb;
}

#admin button a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  color: white;
}

.yellow {
  color: white;
  font-weight: 500;
  
}

.users {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em 0;
  width: 100%;
  overflow-y:scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.users::-webkit-scrollbar {
  display: none;
}

.user-card{
  width: 100%;
  max-width: 20em;
  border-radius: 10px;
  color: white;
  background: linear-gradient(145deg, #232a37, #1b2029);

  border: 1px solid #2e3541;
  transition: 0.2s ease;
}

.user-card:hover {
  cursor: pointer;

  border: 1px solid #8d73eb;
}

.user-card img {
  width: 3em;
  height: 3em;
  object-fit: cover;
  border-radius: 50%;
  image-rendering: pixelated;
  border: 1px solid white;
}

.user-card > a {
  text-decoration: none;
  color: pink;
  margin: 0;
  font-weight: bold;
  font-size: 1.7rem;
  width: 100%;
  height: 100%;
  padding: 1.1em 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  gap: 1em;
  transition: 0.2s ease;
}

.user-card > a:hover {
  cursor: pointer;
  color: #fff;
}


.username{
  font-size: 1.4rem;
  color: wheat;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
}


#user-search-results{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em 0;
  overflow:auto;
}